.window {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.scrollPlayer{
    max-height: 300px;
    overflow-y:scroll;
}

::-webkit-scrollbar {
    display: none;
}


body {
    min-height: 110%;
}